/*
slides>slide.title-slide {
    background-image: url('figures/eLTER_logo.png');
    background-size: 40% 20%;
    background-repeat: no-repeat ;
}
*/

.gdbar img {
  width: 400px !important;
  height: 160px !important;
  margin: 12px 12px;
}

.gdbar {
  width: 450px !important;
  height: 180px !important;
}



slides > slide:not(.nobackground):before {
 /* background-image: url('figures/eLTER_strip+logo.png');
 background-size: 400% 400%;
 */
  width: 125px;
  height: 50x;
  background-size: 125px 50px;*/
}